<div class="site-container">
  <h2>Tic-tac-toe</h2>
</div>
<div class="game-container">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>
<div class="game-container">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>
<div class="game-container">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>
<div class="info-row">
  <div class="display-info"><app-chatbox></app-chatbox></div>
  <div class="display-info"><app-gamelog></app-gamelog></div>
</div>

<app-footer></app-footer>
