<div class="site-container">
  <h2>Tig-Tag-Tog</h2>
</div>
<div class="game-container" *ngFor="let rowNumber of gameMapping; index as i">
  <div
    *ngFor="let blockNumber of gameMapping[i]; index as j"
    class="grid-item"
    (click)="squareClicked(blockNumber - 1)"
  >
    {{ returnTigTagValues(gameState[blockNumber - 1]) }}
  </div>
</div>

<div class="game-settings">
  <div
    class="game-information"
    *ngIf="!(playerWins | async) && !(drawState | async)"
  >
    It is Player {{ currentPlayer }}'s turn!
  </div>
  <div
    *ngIf="(drawState | async) && !(playerWins | async)"
    class="game-information"
  >
    DRAW GAME!
  </div>
  <div *ngIf="playerWins | async" class="game-information">
    PLAYER {{ playerWins | async }} WINS!!!
  </div>
  <button
    *ngIf="!isGameStateClean()"
    class="reset-btn"
    type="reset"
    (click)="clearGameState()"
  >
    {{
      (playerWins | async) || (drawState | async) ? "Play again!" : "Reset game"
    }}
  </button>
</div>

<app-footer></app-footer>
